<div class="h-full flex flex-grow w-full">
  <div class="rounded-md mx-auto my-auto border-black w-1/2 text-center rounded-md border-black border-2">
    <div class="flex flex-row">

    <div class="flex flex-row my-2 rounded-md  p-2 justify-between w-1/2 mx-auto border-2 border-black">
    <mat-slide-toggle [(ngModel)]="registering" class="mx-auto"/>
      <span class=" mx-auto my-auto pr-2 font-bold">
        {{registering ? 'Register' : 'Login'}}
      </span>

    </div>

    </div>
    <form
      class=" flex flex-col gap-2 my-2  flex-shrink max-w-min mx-auto p-2"
      [formGroup]="loginForm"
      (ngSubmit)="handleSubmit()"
    >
      <label>
        Username
        <input type="text" name="username" formControlName="username" class="rounded-md"/>
      </label>
      @if(registering){

      <label>
        Email
        <input type="text" formControlName="email" class="rounded-md"/>
      </label>
      }
      <label>
        Password
        <input type="password" name="password" formControlName="password" class="rounded-md"/>
      </label>
      <button
        type="submit"
        class="hover:cursor-pointer hover:ring-2 hover:ring-blue-200 active:ring-blue-500 rounded-md border-black border-[1px] w-1/2 mx-auto"
      >
        Login
      </button>
      {{error}}
    </form>

  </div>
</div>
